// Colors
$color-primary: #9A161F;
$color-background-light: #FBF2F3;
$color-accent: #FFDFB9;
$color-text: #0F0F0F;

// Font sizes
$fs-2xs: 0.6rem;
$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs: 1rem;
$fs-lg: 1.125rem;
$fs-xl: 1.25rem;

// Others
$hover-transition-duration: 0.1s;