// Base colors
$color-primary-1: #E4D8DC;
$color-primary-2: #C9CCD5;
$color-background-light: #FDF6F6;
$color-accent: #93B5C6;

$hover-transition-duration: 0.1s;

// Font size
$fs-sm: 0.9rem;
$fs: 1rem;